<!DOCTYPE html>
<html class="indexpage">
<head>
	
	<title>newsfooterom</title>
   <% include include/head.ejs %>
	
</head>    
<body>
    
      <% include include/header.ejs %>
    
    
    
    
 
    
    
     
    
 <div class="container">
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb  mt-2">
   <li class="breadcrumb-item"><a href="/">HOME</a></li>
   <li class="breadcrumb-item active" aria-current="page">About US</li>
  </ol>
 </nav>
 <div class="main-heading">
  <h1>ABOUT US</h1>
 </div>
 <div class="abt-sctn">
  <p>thelivro is the website that gives you the gratification you are finding on other websites. If you are looking at stuff for your home, garden, etc. We also had machinery with voguish technologies. We design homes and gardens with the help of our best professionals and encountered crew. We bring up the connection between the proprietors to the devices. From bedrooms to the sitting hall, from the kitchen to the bathroom we design everything is a very Magnificent and ultramodern way which will give the worth to your money and joy to your heart.
Things which make us different:-
• We had the best design and the huge options to choose for every demanding design, we havespecialists to design for you and give you the best consequence in your space. We make your aperture just on the way you want from us and not only this we make build, it up efficiently and also budget-ffriendly. To neither, you get affected by the cost nor you get disappointed with our work.
• We do not make building we make trust
You choose us by trusting on us, and we believe in making more strong. The product in which we are dealing with is the product which can be trusted by our clients. The material which is used in the assets is the good quality material and best for the long time run.
</p>
     <p><strong>• Members of the creative team have a good experience</strong>
We are a team of professionals in our fields. The designing crew of our team had good expertise proficiency to manage the things in their proper place. They will customize your ideas with their creative minds, and give you the best productive dénouement.
• No settlement with technology
To give you the best product we do no deal with the quality of the product as well as try to give the latest technologies. We try to give the modernistic technology which will get in your budget. With the latest features, we do no compromise in the  asset.
Products and Services in which we deal:-
     </p>
  <div class="abt-middle">
   <div class="abt-middle-service">
    <ul class="service-pointes">
     <li>Decorator and designers.</li>
     <li>Latest features appliances.</li>
     <li>Professional architects.</li>
    </ul>
    <ul class="service-pointes">
     <li>Renovators for house.</li>
     <li>Designer for kitchens.</li>
     <li>Building modifiers.</li>
    </ul>
   </div>
  </div>
  
 </div>
</div> 
    
   <% include include/footer.ejs %>
    
    
    
				</body>
								</html>

