<!DOCTYPE html>
<html class="indexpage">
<head>
	
	<title>newsfooterom</title>
   <% include include/head.ejs %>
	
</head>    
<body>
    
      <% include include/header.ejs %>
    
    
    
       <% include include/menu.ejs %>
    
 
    
    
     
    
 <div class="container">
 <nav aria-label="breadcrumb">
  <ol class="breadcrumb  mt-2">
   <li class="breadcrumb-item"><a href="index.html">HOME</a></li>
   <li class="breadcrumb-item active" aria-current="page">CONTACT US</li>
  </ol>
 </nav>
 <div class="main-heading">
  <h1>CONTACT US</h1>
 </div>
 <div class="contact-sec">
  <p>Please fill out the form below with any questions you may have and one of our team members will contact you as soon as possible.</p>
  <div class="form-sec">
   <div class="row">
    <div class="col-sm-12">
    <div class="widcontact">
     <div class="row">
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="NAME :" name="name" class="form-control">
      </div>
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="EMAIL ADDRESS :" name="name" class="form-control">
      </div>
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="PHONE :" name="name" class="form-control">
      </div>
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="SUBJECT :" name="name" class="form-control">
      </div>
      <div class="col-sm-12 form-group">
       <textarea placeholder="MESSAGE :" name="message" class="form-control"></textarea>
      </div>
      <div class="col-sm-12 text-center">
       <input type="SUBMIT" class="btn" value="SUBMIT" name="sendMail">
      </div>
     </div>
     </div>
    </div>
      
   </div>
  </div>
 </div>
</div>
    
   <% include include/footer.ejs %>
    
    
    
				</body>
								</html>

