<!DOCTYPE html>
<html class="indexpage">
   <head>
       <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<meta name="description" content="Find the best local restaurants, bars, shops, cafes, hotels, gyms, spas and more, from That’s Beijing, your authoritative guide to what’s happening in Beijing, China.">
	<meta name="keywords" content="thats Beijing, Beijing, china, dining, nightlife, galleries, arts, guides, restaurants, bars, party, gig, thatsBeijing, thatsmags, thatsonline, directory, listing, venues, community, health">
	
      <title>Restaurants, Dentists, Bars, Beauty Salons, Doctors - trendsxp</title>
      <% include include/head.ejs %>
    
   </head>
   <body>
      <% include include/header.ejs %>
          <% include include/menu.ejs %>
    
      <div id="content-to-price" class="business_D">
         <div id="block-title" class="container">
            <div id="section-annonce">
               <h1>Project Cost Guides
</h1>
               <p class="page-presentation">Use our project calculating tools to estimate how much your project will cost in your area

</p>
           <div class="FormDe45P newPriceForm">
                   <div class="searchPL2">
                 
                                  <form method="post" id="GetListingprice" action="/cost-Search">
            <div class="row">
                     <div class="col-md-5">
                          <div class="autocomplete" >
                             <input type="text" class="form-control srchCC" id="locationgets" name="locationSrch" list="location-datalist" placeholder="Search by city Or Pin code" >

                       
                         </div>
                </div>
                
                     <div class="col-md-5 p-0">
                         <select class="form-control srchCC" name="categorySrch"  id="categorygets"  autocomplete="off">
                             <option value="bedroom">Bedroom Services</option>
                                     <option value="flooring">Flooring Services</option>
                                     <option value="bathroom">Bathroom Services</option>
                                     <option value="appliances">Appliances & Repair Services</option>
                                     <option value="cleaning">Cleaning Services</option>
                                     <option value="window">Window & Door Installation Services</option>
                                     <option value="kitchen">Kitchen Services</option>
                                     <option value="painters">Painters & Wallpaper Services </option>
                                     <option value="design">Design & Decor Services</option>
                                     <option value="electrical">Electrical Services</option>
                                     <option value="landscape">Lawn, Landscape & Garden Services</option>
                                  
                                   </select>
                     
                     </div>
                <div class="col-md-2"><button class="btn srchBBn2P" type="submit">Search</button>
                     </div>
                  </div></form>
      
                     </div>
                        </div>
            </div>
         </div>
      </div>
      <section class="topsectionD">
         <div class="containerDD">
            <h2 class="head_linenD21">Discover how we can help with your next project
</h2>
            <div class="row priceRow">
               <div class="col-md-3  colprice">
                   <div class="priceColcom">
                  <a href="/cost-compare/bedroom">
                     <img  src="images/bath.jpg" >
                      <div class="AddCAtprice"> Bathroom
 </div> 
                      <div class="serviceList">
                      
                      <ul>
                          <li>Bathroom Remodeling</li>
                          <li>Shower Door Installation</li>
                          <li>Toilet Installation</li>
                          <li>Plumbing Services</li>
                          
                          </ul>
                      </div></a>
                 
                   </div></div>
               <div class="col-md-3  colprice">
                   <div class="priceColcom">
                  <a href="/cost-compare/window">
                     <img  src="images/carpentry.jpg" >
                      <div class="AddCAtprice"> Window & Door Installation </div> 
                       <div class="serviceList">
                      
                      <ul>
                          <li>Window Installation</li>
                          <li>Exterior and Interior Door Installation</li>
                        
                          
                          </ul>
                      </div></a>
                 
                   </div></div>
               <div class="col-md-3  colprice">
                   <div class="priceColcom">
                  <a href="/cost-compare/flooring">
                     <img  src="images/flooring.jpg" >
                      <div class="AddCAtprice"> Flooring</div>
                                             <div class="serviceList">
                      
                      <ul>
                          <li>Flooring Installation</li>
                          <li>Hardwood Flooring Cost</li>
                          <li>Tile Installation</li>
                        
                          
                          </ul>
                      </div> </a>
                 
                   </div></div>
               <div class="col-md-3 colprice">
                   <div class="priceColcom">
                  <a href="/cost-compare/kitchen">
                     <img  src="images/kitchen.jpg" >
                      <div class="AddCAtprice"> Kitchen  </div>
                  
                  
                 <div class="serviceList">
                      
                      <ul>
                          <li>Plumbing Services</li>
                          <li>Kitchen Renovation Costs</li>
                        
                          
                          </ul>
                      </div></a>
                </div> </div>
               <div class="col-md-3  colprice">
                   <div class="priceColcom">
                  <a href="/cost-compare/electrical">
                     <img  src="images/electricians.jpg" >
                      <div class="AddCAtprice"> Electrical </div> 
                      <div class="serviceList">
                      
                      <ul>
                          <li>Electric Outlets </li>
                          <li>Fixtures Install</li>
                        
                          
                          </ul>
                      </div></a>
                 
                   </div></div>
                  <div class="col-md-3 colprice">
                      <div class="priceColcom">
                  <a href="/cost-compare/appliances">
                     <img  src="images/dishwasher-installation.jpg" >
                      <div class="AddCAtprice"> Appliances & Repair </div>
                   <div class="serviceList">
                      
                      <ul>
                          <li>Appliances & Repair</li>
                          
                          </ul>
                      </div> </a>
                      </div></div>  
                <div class="col-md-3 colprice ">
                <div class="priceColcom">
                  <a href="/cost-compare/painters">
                     <img  src="images/painters.jpg" >
                      <div class="AddCAtprice">  Painters & Wallpaper  </div> 
                       <div class="serviceList">
                      
                      <ul>
                          <li>Interior Painting</li>
                          <li>Exterior Painting</li>
                          <li>Deck Painting</li>
                          <li>Wallpaper Removal</li>
                        
                          
                          </ul>
                      </div>
                 </a>
                      </div> </div> 
                <div class="col-md-3 colprice ">
                <div class="priceColcom">
                  <a href="/cost-compare/landscape">
                     <img  src="images/landscaping-contractor.jpg" >
                      <div class="AddCAtprice">  Lawn, Landscape & Garden </div>
                      <div class="serviceList">
                      
                      <ul>
                          <li>Landscaping Costs</li>
                          <li>Lawn Care Prices</li>
                          <li>Gardener Cost</li>
                          <li>Sprinkler System</li>
                        
                          
                          </ul>
                      </div>
                  </a>
                      </div> </div> 
                <div class="col-md-3 colprice ">
                <div class="priceColcom">
                  <a href="/cost-compare/cleaning">
                     <img  src="images/apartment-cleaning.jpg" >
                      <div class="AddCAtprice">  Cleaning
  </div>
                   <div class="serviceList">
                      
                      <ul>
                          <li>House Cleaning Prices</li>
                          <li>Carpet Cleaning Prices</li>
                          <li>Apartment Cleaning Prices</li>
                          <li>Sofa Cleaning</li>
                        
                          
                          </ul>
                      </div></a>
                      </div> </div>
                <div class="col-md-3 colprice ">
                <div class="priceColcom">
                  <a href="/cost-compare/design">
                     <img  src="images/home-staging.jpg" >
                      <div class="AddCAtprice">  Design & Decor
  </div>
                  </a>
                   </div></div>
            </div>
         </div> 
      </section>
       
      <div class="sc-cvbbAY hteNID"><p class="sc-hCSkms">Are you a Home Pro?</p><p class="sc-cMs">Are you a home service pro? Connect with new customers, now.</p><a class="sc-jWBwVs" href="/pro">Get Started</a></div>
       
       
      <% include include/footer.ejs %>
                    <script src="/js/search.js"></script>

   </body>
</html>