<!DOCTYPE html>
<html>
   <head>
      <title>Forgot password</title>
       
      <% include include/head.ejs %>
   </head>
   <body>
      <% include include/header.ejs %>  
          <% include include/menu.ejs %>
   

        
      <section class="List-section">
          
         <div class="containerList"> 
             <div class="HeadingTexts1">    

           <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Forgot password
</li>
  </ol>
</nav>

                   </div> 
             <div class="container">
          <div class="mr_pading">
              <div class="row"><div class="col-md-3"></div>
                <div class="col-md-6 ">
            <div class="log_in_pay">
              <h4 class="add_logind"> Reset Password </h4>
              <div class="pay_register">
                  <%if(Sucessmsg !=''){%>
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <%=Sucessmsg%>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div><%}%>
               <form role="form" method="post" >
                   
                  <div class="form_logrow">
                               <div class="col-md-12ss">
                      <p class="reset_passd">Lost your password? Please enter your  email address. You will receive a link to create a new password via email.</p>
           
                      <p class="form_content">Email <span class="star_login"> *</span></p>
                      <input type="email" name="email" class="form-control registerf" id="inputEmail4" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" value="<%= req.body.email%>">
                                   <span class="ChekMailError"><%errors.forEach((error)=>{%> 
                                       <%if(error.param=='email'){%><%=error.msg%>
                                       <%}});%> <%if(mailchkdb !=''){%><%=mailchkdb%><%}%> </span>
                    </div>
                  <div class=" col-md-12">
                               
                      <p class="summ_itemd text-center">
                        <button type="submit" name="login" class="btn btn-danger registbtnnew"> Reset Password</button>
                      </p>
                    </div>
                   
             
                   </div>
                </form>
              </div>
            </div>
          </div>
            
          </div>
    </div>
          </div>
          </div>
       </section>
          <% include include/footer.ejs %>
                    <script src="/js/search.js"></script>
       <script>$('.alert').alert()</script>

   </body>
</html>