<!DOCTYPE html>
<html class="indexpage">
<head>
	
	<title>Addmission24</title>
   <% include include/head.ejs %>
	
</head>    
<body>
    
      <% include include/header.ejs %>
       <% include include/menu.ejs %>
    
  <section class="team-section principle section-padding " style="margin-top:130px">
                    <div class="container">
                        <div class="row">
                            <div class="col col-xs-12">
                                <div class="section-title-s3">
                                  
                                    <h2 class="vision_h">Meet Our Team</h2>
                                </div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col col-xs-12">
                                <div class="team-first-row team-grids">
                                    <div class="grid wt_bg">
                                        <div class="member-pic-social">
                                        <a href="team-detail1.php">
                                            <img src="https://northbrookprofessionalhairdesigners.com/wp-content/uploads/men-hair.jpg" alt="" class="img-fluid img_height">
                                            </a>
                                            <div class="social">
                                                <ul>
                                                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                        <a href="team-detail1.php">
                                            <h3>Jp Kasyap </h3>
                                            <span>Laravel Developer</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="grid wt_bg">
                                        <div class="member-pic-social">
                                        <a href="team-detail2.php">
                                            <img src="img/t2.jpg" alt="" class="img-fluid img_height ">
</a>
                                            <div class="social">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="member-info">
                                        <a href="team-detail2.php">
                                            <h3>Anshul chauhan</h3>
                                            <span>Ui Developer </span>
</a>
                                        </div>
                                    </div>
                                 </div>
        
                             </div>
        
                                           
                        </div>
                        
                    </div> <!-- end container -->
                </section>

							
								</body>
								</html>

