<!DOCTYPE html>
<html class="indexpage">
<head>
	
	<title>newsfooterom</title>
   <% include include/head.ejs %>
	
</head>    
<body>
    
      <% include include/header.ejs %>
    
    
    
       <% include include/menu.ejs %>
    
 
    
    
     
    <div class="container">
			
				<div class="row">

					<div class="col-12">

						<div class="page-header">
							<h1>Over 250  Website Designs
</h1>
						</div><!--/ .page-header-->	

					</div>

                </div>
          <section class="simple-pricing-table  clearfix">

							<div class="column opacityRun">

								<header class="header">
									<h5 class="title">Starter Package</h5>
								</header><!-- .header -->

								<div class="price">
									<h2 class="cost">₹ 5900</h2>
									<span class="description">Per Annum</span>				
								</div><!--/ .price-->

								<ul class="features">
<li>5 page static website</li>
<li>Responsive design</li>
<li>1 contact form</li>
<li>Free .in domain name</li>
<li>500 mb quality hosting space</li>
<li>5 Email Addresses</li>
<li>Free basic SEO</li>
<li>Free tips on how to promote your business</li>
<li class="style1">Annual renewal ₹ 3100/-</li>
								</ul>
								<!-- .features -->
<!--

								<footer class="footer">
									<a class="button default middle" href="#">Get Started</a>
								</footer> .footer 
-->

							</div><!-- .column -->

							<div class="column opacityRun">

								<header class="header">
									<h5 class="title">Business Package</h5>
								</header><!-- .header -->

								<div class="price">
									<h2 class="cost">₹ 9000</h2>
									<span class="description">Per Annum</span></div>
								<!--/ .price-->

								<ul class="features">
									<li>10 page static website</li>
<li>Responsive design</li>
<li>1 contact form</li>
<li>Free .in domain name</li>
<li>1000 MB Quality Hosting Space</li>
<li>15 Email Addresses</li>
<li>Free basic SEO</li>
<li>Free tips on how to promote your business</li>
<li class="style1">Annual renewal ₹ 5500/-</li>								
								</ul>
								<!-- .features -->

								<!-- .features -->

<!--
								<footer class="footer">
									<a class="button default middle" href="#">Get Started</a>
								</footer> .footer 
-->

							</div><!-- .column -->

							<div class="column featured opacityRun">

								<header class="header">
									<h5 class="title">Premium Package</h5>
								</header><!-- .header -->

								<div class="price">
									<h2 class="cost">₹ 19000</h2>
									<span class="description">Per Annum</span></div>
								<!--/ .price-->

								<ul class="features">
<li>10 page Dynamic website</li>
<li>Wordpress CMS based design</li>
<li>Unlimited page creation feature</li>
<li>Blog feature with comments</li>
<li>2 contact forms</li>
<li>Free .com domain name</li>
<li>1000 MB quality hosting space</li>
<li>25 Email Addresses</li>
<li>Social media integration</li>
<li>Free basic SEO</li>
<li class="style1">Annual renewal ₹ 6500/-</li>								</ul>
						    <!-- .features -->
								
<!--
								<footer class="footer">
									<a class="button default middle" href="#">Get Started</a>
								</footer> .footer 
-->

							</div><!-- .column -->



			</section>
                
            </div>
 <div class="container">

 <div class="main-heading">
  <h1>CONTACT US</h1>
 </div>
 <div class="contact-sec">
  <p>Please fill out the form below with any questions you may have and one of our team members will contact you as soon as possible.</p>
  <div class="form-sec">
   <div class="row">
    <div class="col-sm-12">
    <div class="widcontact">
     <div class="row">
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="NAME :" name="name" class="form-control">
      </div>
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="EMAIL ADDRESS :" name="name" class="form-control">
      </div>
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="PHONE :" name="name" class="form-control">
      </div>
      <div class="col-sm-6 form-group">
       <input type="text" placeholder="SUBJECT :" name="name" class="form-control">
      </div>
      <div class="col-sm-12 form-group">
       <textarea placeholder="MESSAGE :" name="message" class="form-control"></textarea>
      </div>
      <div class="col-sm-12 text-center">
       <input type="SUBMIT" class="btn" value="SUBMIT" name="sendMail">
      </div>
     </div>
     </div>
    </div>
      
   </div>
  </div>
 </div>
</div>
    
   <% include include/footer.ejs %>
    
    
    
				</body>
								</html>

