<!DOCTYPE html>
<html class="indexpage">
<head>
	
	<title>Addmission24</title>
   <% include ../include/head.ejs %>
	<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>

</head>    

 
  <body id="page-top">
      <% include ../include/user-header.ejs %>
     
      
      <div class="single-channel-page" id="content-wrapper">
              <section class="userdashbord">
            <div class="container">
                    <div class="ads_heads">
                        <div class="row rowdashboard">
                        <div class="col-sm-8">
                            <h2 class="gretting">Greetings!
                            </h2>
    <h1 class="wizard-title">Welcome to the Trendsxp Dashboard!
</h1>

</div> <div class="col-md-4">
                        <div class="main-title">
                           <div class="btn-group float-right right-action">
                                 <a class="nav-link addnew" href="/user/post-event">
                   <i class="fa fa-plus"></i>
               <span>Event </span>
               </a>
                              <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </a>
                              <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                 <a class="dropdown-item" href="#"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                              </div>
                           </div>
                       
                        </div>
                     </div> </div>  
                   <div id="section-classifieds" class="section-classifieds">
		<div class="container-list">
			
			<div id="classifiedsList" style="display:none;">
				<div class="nodatafound">
                    <div class="nodataimg text-center">
                    <img src="/images/nodata.jpg">
                    </div>
                <p  class="alrt0">You have not added any blog yet.


                    </p>
                    <p class="slstct_9">Let go of what you don't use anymore

                    </p>
                
                <ul class="nodtafound">
             
          
            <li class="nav-item">
               <a class="nav-link" href="/user/post-event">
                   <i class="fa fa-plus"></i>
               <span>Event</span>
               </a>
            </li>
              
           
                </ul></div>
   
			</div>
<div class="row">
                    
                     <div class="col-md-4 col-sm-6 mb-3">
                        <div class="video-card">
                           <div class="video-card-image">
                            
                              <a href="#"><img class="img-fluid" src="https://askbootstrap.com/preview/vidoe-v1-3/theme-seven/img/v5.png" alt=""></a>
                              <div class="edit_p0"><i class="fa fa-pencil" aria-hidden="true"></i>
</div>
                              <div class="timeicon"><i class="fa fa-trash" aria-hidden="true"></i></div>
                           </div>
                           <div class="video-card-body">
                              <div class="video-title">
                                 <a href="#">There are many variations of passages of Lorem</a>
                              </div>
                              <div class="video-page-category ">
                                  Education 

                              </div> <div class="video-page ">
                                  Status - <span class="text-danger">Pending <i class="fa fa-check-circle" aria-hidden="true"></i>
</span>
                              </div>
                              <div class="video-view">
                                 Date: 12-09-2019 &nbsp;<i class="fa fa-calendar-alt"></i> Location: Delhi
                              </div>
                           </div>
                        </div>
                     </div>
                     
                     
                  </div>
			
				</div>
	</div>     
                        
                     </div>
                  </div>
                
                  </section>
               </div>
     
         <!-- /.content-wrapper -->
 
  

    


  <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

					<% include ../include/footer.ejs %>
								</body>
								</html>

