<!DOCTYPE html>
<html class="indexpage">
<head>
	
	<title>Addmission24</title>
   <% include ../include/head.ejs %>
	<script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>

</head>    

 
  <body id="page-top">
      <% include ../include/user-header.ejs %>
          <div class="single-channel-page" id="content-wrapper">
              <section class="userdashbord">
            <div class="container">
                    <div class="ads_heads">
                        <div class="row">
                        <div class="col-sm-12">
    <h1 class="wizard-title">Post a free Event</h1>
    <div class="text-light-grey">Hubstaff Talent is for jobs that can be worked on remotely. <a target="_blank" href="#">Learn more...</a></div>
  
</div> </div>   <div class="row"><div class="col-sm-12"><form action="" enctype="multipart/form-data" method="post">
                           
                        <div class="post_ads row">
                           <div class="col-lg-8">  
                           <div class="row">  
                                 <div class="col-lg-12">
                              <div class="form-group">
                                 <label for="e6">Choose a category for Event  
*</label>
                                 <select id="e9" class="form-control" name="gender">
                                    <option value="">Select</option>
                                   
                                  
                                 </select>
                                
                              </div>
                           </div>
                            
                           <div class="col-lg-12">
                              <div class="form-group">
                                 <label for="e2">Event Title *</label>
                                <input type="text" name="profiletitle" placeholder="" class="form-control">
                                  
                               
                              </div>
                           </div> <div class="col-lg-12">
                              <div class="form-group">
                                 <label for="e2"> Event Type *</label>
                                <input type="text" name="profiletitle" placeholder="" class="form-control">
                                  
                               
                              </div>
                           </div>
                             <div class="col-lg-12">
                              <div class="form-group">
                                 <label for="e2">Event Description *</label>
                               <textarea name="editor1" name="description" rows="2"></textarea>
                <script>
                       CKEDITOR.replace('editor1', {
          toolbarGroups: [{
          "name": "basicstyles",
          "groups": ["basicstyles"]
        },
        
        {
          "name": "paragraph",
          "groups": ["list", "blocks"]
        },
       
     
      
      ],
      height: 100,

      removeButtons: 'Underline,Strike,Subscript,Superscript,Anchor,Styles,Specialchar,links'
    });
  </script>
          
                              </div>
                           </div>
                                <div class="col-lg-12">
                              <div class="form-group">
                                 <label for="e2">Organiseby </label>
                                  <input type="text" name="featureimage"  id="e1" class="form-control">
                              </div>
                           </div> <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e3">Event Date</label>
                                 <input type="text" name="title2" placeholder="Contrary to popular belief, Lorem Ipsum (2019) is not." id="e1" class="form-control">
                              </div>
                           </div> 
                            
                       
                           <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e3">Start time</label>
                                <input type="text" placeholder="" name="author" id="e1" class="form-control">
                              </div>
                           </div> 
                           <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e4">Start Date</label>
                                  <input type="text" placeholder="" name="author" id="e1" class="form-control">
                              </div>
                           </div> 
                           <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e4">Venue Name 
</label>
                                  <input type="text" placeholder="" id="e1" name="author_image" class="form-control">
                              </div>
                           </div>
                            <div class="col-lg-12">
                                <h3 class="details_titles">Contact Details
 </h3>
                               </div>
                            <div class="col-lg-12">
                              <div class="form-group">
                                 <label for="e3">Address</label>
                                  <textarea  class="form-control" rows="3"></textarea>      
                              </div>
                           
                           </div> 
                           
                            
                    
                           <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e4">Email </label>
                                  <input type="text" name="emailid" value="123@gmail.com" class="form-control" >
                                 
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e4">Mobile </label>
                                  <input type="text"  name="mobileno" value="123" class="form-control">
                              </div>
                           </div>
                            
                             <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e9"> Web Site:
</label>
                                      <input type="text"  name="location" class="form-control">
                              </div> 
                              </div>
                          
                              
                            <div class="col-md-12">
                                <h3 class="details_titles">Social Info</h3>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e4">Facebook </label>
                                  <input type="text" placeholder="www.Facebook.com" name="facebook" class="form-control">
                              </div>
                           </div>
                           <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e4">Instagram </label>
                                  <input type="text" placeholder="www.Instagram.com" name="instagram" class="form-control">
                              </div>
                           </div>
                            
                           <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e6">Linkedin</label>
                             <input type="text" placeholder="www.Linkedin.com" name="linkedin" class="form-control">
                              </div>
                           </div> 
                               <div class="col-lg-6">
                              <div class="form-group">
                                 <label for="e6">Twitter</label>
                             <input type="text" placeholder="www.Twitter.com" name="twitter" class="form-control">
                              </div>
                           </div>
                     </div>  
                     </div>  
                            
                            <div class="col-lg-4">
                          <div class="add_bussness">
                              <p class="add_01">Add pictures *</p>
 <p class="profile_instruction">Add pictures (10MB max in jpeg, png or gif)</p>
                                  <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url(/images/profile.jpg);">
            </div>
        </div>
    </div>  
                                  <div>  </div>
                                  
                                
                              </div>  
                            </div>
                        </div><div class="osahan-area text-center mt-3">
                        <button class="btn btn-outline-primary" type="submit">Update Profile </button>
                     </div>
                         </form>
                        
               </div> </div>
                  </div>
                  </div>
                
                  </section>
               </div>
         </div>

    


  <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
 <% include ../include/user-footer.ejs %>

						<% include ../include/footer.ejs %>
								</body>
								</html>

