<!DOCTYPE html>
<html class="indexpage">
<head>
	
	<title></title>
   <% include ../include/head.ejs %>


</head>    

 
  <body id="page-usertop">
      <% include ../include/user-header.ejs %>
     
      
      <div class="single-channel-page" id="content-wrapper">
              <section class="userdashbord">
            <div class="container">
                    <div class="ads_heads">
                        <div class="row rowdashboard">
                        <div class="col-sm-8">
                            
    <h1 class="wizard-title">Your Profile Link
</h1>

</div>  <div class="col-md-8 mx-auto text-center upload-video pt-5 pb-5">
                     
                     <h5 class="mt-3">Share your personal link:
</h5>
                            <%ProfileShare.forEach((ProfileShare)=>{ %>
                            
                            <% var ProfileShareN =ProfileShare.name;  var username =  ProfileShareN.replace(/\s/g,"-")%>
                  
                            <input type="text" class="form-control landlink" value="<%= req.protocol + '://'+ req.get('host')%>/authors/<%=ProfileShare.id%>/<%=username%>" id="CopyShare" >
<script>
 function myFunction() {
  var copyText = document.getElementById("CopyShare");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
  
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}
                            </script>
                            <%})%>
                     <div class="mt-2"><div class="tooltipT">
                        <a class="btn btn-outline-linkc" href="javascript:void();" onclick="myFunction()"> <span class="tooltiptextT" id="myTooltip">Copy to clipboard</span> Copy to clipboard</a>
                         </div>
                     </div>
                  </div>           
                     </div>
                </div>
                  </div>
                  </section>
               </div>
               </div>
    
     <% include ../include/user-footer.ejs %>


			</body>
								</html>

