
             
   <div class="footer">
  <div class="container">
    <div class="fl">
      <div class="list">
        <h2>OUR PRODUCTS</h2>
        <ul>
          <li><a href="/directory">Professional</a></li>
          <li><a href="/cost-compare">Cost Compare</a></li>
       
          <li><a href="/designs">Designs</a></li>
          <li><a href="/shop">Shop</a></li>
        </ul>
      </div>
      
      <div class="list">
        <h2>INFO</h2>
        <ul>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/privacy-policy">Privacy Policy</a></li>
          <li><a href="/terms-of-service">Terms of service</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>
      <div class="list">
        <h2>Follow us</h2>
        <ul>
          <li><a href="https://www.facebook.com/thelivro/" target="_blank"> Facebook</a></li>
          <li><a href="#"> Twitter</a></li>
          <li><a href="https://www.instagram.com/thelivroofficial/"> Instagram</a></li>
          <li><a href="#"> Linkedin</a></li>
        </ul>
      </div>
    </div>
    <div class="newsfooter">
      <h2>Newsletter</h2>
      <div class="t2">Subscribe to The thelivro mailing list to receive updates on new arrivals, special offers and other discount information. </div>
      <div class="subs">
        <input name="" type="text" placeholder="Enter Your Email" class="txt1">
        <input name="" type="button" value="SUBSCRIBE" class="txt2">
      </div>
  
    </div>
      
      <div class="postheads">
      
          <h2>OUR SECTIONS</h2>
          <ul>
              
         <li><a href="/article/architecture">architecture</a></li>
                          <li><a href="/article/decor"> decor</a></li>
                          <li><a href="/article/agriculture">agriculture</a></li>
                          <li><a href="/article/technology"> technology</a></li>
                          <li><a href="/article/garden"> garden</a></li>
                          <li><a href="/article/art"> art</a></li>
                          <li><a href="/article/business"> business</a></li>
                          <li><a href="/article/travel"> travel</a></li>  <li><a href="/article/food"> food</a></li>
                         
                          <li><a href="/article/health">  health</a></li>
                          <li><a href="/article/outdoors">  outdoors</a></li>
                          <li><a href="/article/home">  home</a></li>
                          <li><a href="/article/entertainment">  entertainment</a></li>
          </ul>
      </div>
    <div class="ftr_btm"> Copyright 2020 | thelivro.com All Rights Reserved </div>
  </div>
</div>
<script src="/js/script.js"></script>