
    <div class="desktop-header-wrapper2">
       
        <div class="desktop-menu">
            <ul class="bm">
                <li><a  href="/">Home</a></li>
                <li class="dropdownM"><a  href="#" >Articles <i class="fa fa-angle-down"></i></a>
                
                <div class="megamenu">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <ul class="wstliststy06 clearfix">
                       
                          
                         
 
     
                          <li><a href="/article/architecture">architecture</a></li>
                          <li><a href="/article/decor"> decor</a></li>
                          <li><a href="/article/agriculture">agriculture</a></li>
                          <li><a href="/article/technology"> technology</a></li>
                          <li><a href="/article/garden"> garden</a></li>
                          <li><a href="/article/art"> art</a></li>
                          <li><a href="/article/business"> business</a></li>
                          <li><a href="/article/travel"> travel</a></li>
                          
                          
               
                      </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 lefthalf">
                      <ul class="wstliststy06 clearfix">
                          <li><a href="/article/food"> food</a></li>
                         
                          <li><a href="/article/health">  health</a></li>
                          <li><a href="/article/outdoors">  outdoors</a></li>
                          <li><a href="/article/home">  home</a></li>
                          <li><a href="/article/entertainment">  entertainment</a></li>
                          <li><a href="/article/wellness">  wellness</a></li>
                          <li><a href="/article/furniture">  furniture</a></li>
                          <li><a href="/article/education">   education</a></li>
                   
 
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
                </li>
                <li><a  href="/directory">Professionals</a></li>
             
                <li><a  href="/cost-compare">Cost Compare</a></li>
               
<!--                <li><a  href="/project-calculators">Project Calculators</a></li>-->
                <li class="dropdownM"><a  href="/designs" >Idea & Designs <i class="fa fa-angle-down"></i></a>
                 <div class="megamenu width5">
                     <ul class="wstliststy06">
                          <li><a href="/designs/bedroom">Bedroom</a></li>
                   <li><a href="/designs/cladding-designs">Cladding Designs</a></li>
                   <li><a href="/designs/dining-room">Dining Room</a></li>
                   <li><a href="/designs/outdoor">Outdoor </a></li>
                   <li><a href="/designs/office">Office Designs</a></li>
                   <li><a href="/designs/door-design">Door Design</a></li>
                   <li><a href="/designs/home">Home Designs</a></li>
                   <li><a href="/designs/kitchen-designs">Kitchen Designs</a></li>
                   <li><a href="/designs/bathroom-designs">Bathroom Designs</a></li>
                   <li><a href="/designs/living-room">Living Room</a></li>
                   <li><a href="/designs/tile-designs">Tile Designs</a></li>
                   <li><a href="/designs/window-design">Window Design</a></li>
                   <li><a href="/designs/railing-designs">Railing Designs</a></li>
                     
                     </ul>
                       </div>
                </li>
                <li><a  href="/shop">Shop</a></li>
                <li><a  href="/website">Website</a></li>
              
                 <li><a  href="/farming">agriculture & gardening</a></li>
            </ul>
            
            
            
        </div>
       
    </div>