
    <div class="desktop-header-wrapper2">
       
        <div class="desktop-menu">
            <ul class="bm">
              
                  <li class="home active" id="home"><a aria-label="Home" href="/"><i class="fa fa-home"></i></a></li>
                  <li><a href="/latest-news">Latest News</a></li>
                  <li><a href="/india">India</a></li>
                  <li><a href="/world">World</a></li>
                  <li><a href="/politics">Politics</a></li>
                  <li><a href="/business">Business</a></li>
                  <li><a href="/lifestyle">Lifestyle</a></li>
                  <li><a href="/education">Education</a></li>
                  <li><a href="/technology">Technology</a></li>
                  <li><a href="/entertainment">Entertainment</a></li>
                  <li><a href="/sports">Sports</a></li>
                  <li><a href="/cricket">Cricket</a></li>
              
                  <li><a href="/photos">Photos</a></li>
               </ul>
              
         
            
            
            
        </div>
       
    </div>