<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>

  <link rel='stylesheet' href='/stylesheets/style2.css' />
  <link rel='stylesheet' href='/admin/javascripts/select2.min.css' />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <script src="/admin/javascripts/jquery.js"></script>
  <script src="/admin/javascripts/jquery.min.js"></script>
    <script src="/admin/javascripts/select2.full.min.js"></script>
</head>