
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        
<header class="main-header">

    <a href="/adminxp" class="logo">
     
      <span class="logo-mini"><b>T</b>Xp</span>
     
      <span class="logo-lg"><b>Trends</b>xp</span>
    </a>
 
    <nav class="navbar navbar-static-top">
      
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
     
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/images/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Trendsxp Admin</span>
            </a>
            <ul class="dropdown-menu">
            
              <li class="user-header">
                <img src="/images/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                 Trendsxp 
                 
                </p>
              </li>
             
           
             
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/adminxp/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
         
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <aside class="main-sidebar">
  
    <section class="sidebar">
      
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/images/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Trendsxp</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
  
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
           <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/adminxp/user"><i class="fa fa-circle-o"></i> User List</a></li>
            
         
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Category</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/adminxp/add-category"><i class="fa fa-circle-o"></i> Add Category</a></li>
            <li class="active"><a href="/adminxp/view-category"><i class="fa fa-circle-o"></i> view Category</a></li>
          <li class="active"><a href="/adminxp/add-bcat"><i class="fa fa-circle-o"></i> Business Add Category</a></li>
            <li class="active"><a href="/adminxp/view-bcat"><i class="fa fa-circle-o"></i>Business view Category</a></li>
         
          </ul>
        </li>
             <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Publisher</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/adminxp/add-category"><i class="fa fa-circle-o"></i> Add Publisher</a></li>
            <li class="active"><a href="/adminxp/view-category"><i class="fa fa-circle-o"></i> view Publisher</a></li>
         
          </ul>
        </li>
           <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Tags</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="/adminxp/add-tag"><i class="fa fa-circle-o"></i> Add Tags</a></li>
            
         
          </ul>
        </li>
      
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>News</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/adminxp/add-news"><i class="fa fa-circle-o"></i> Add Admin News</a></li>
            <li><a href="/adminxp/admin-news"><i class="fa fa-circle-o"></i> View Admin News </a></li>
            <li><a href="/adminxp/user-news"><i class="fa fa-circle-o"></i> View User News </a></li>
         
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Business</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/adminxp/business"><i class="fa fa-circle-o"></i> Business list</a></li>
          
         
          </ul>
        </li> 
          
          <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Products</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
              
          <ul class="treeview-menu">
            <li><a href="/adminxp/add-product"><i class="fa fa-circle-o"></i> Add Product</a></li>
          <li><a href="/adminxp/product"><i class="fa fa-circle-o"></i> product list</a></li>
          
         
          </ul>
        </li>
          <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Blog</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/adminxp/add-blog"><i class="fa fa-circle-o"></i> Add Blog</a></li>
            <li><a href="/adminxp/view-blog"><i class="fa fa-circle-o"></i> View Blog</a></li>
         
          </ul>
        </li>
      </ul>
    </section>
    
  </aside>
